
<h1>Add a new pet</h1>


<form style="margin:50px"   action="create" method="post">

<p>
    <label>Name</label>
    <input name="name" required>
</p>

<p>
    <label>Type</label>
    <input name="type" required>
</p>


<p>
    <label>Breed</label>
    <input name="breed" >
</p>


<p>
    <label>Bio</label>
    <input name="bio" >
</p>


<button type="submit">
    Submit
</button>

</form>
