

<h1>
  Welcome to our cool application
</h1>

<h1>
  We love this app
</h1>

<h1>
  Login Screen app
</h1>

<h1>
  login session:<%= @sess%>
  </h1>

  <h1>
  login cookie:<%=  @cook%>
  </h1>

<a href="/">To index</a>
